<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Account</title>
</head>
<body>
<div class="container">
    <h1>Create New Current Account</h1>
    <form th:object="${newAccountRequest}" th:action="@{/createNewAccount}" method="post">
        <div class="form-group">
            <label for="customerId">Customer ID:</label>
            <input type="number" class="form-control" id="customerId" th:field="*{customerId}" required>
        </div>
        <div class="form-group">
            <label for="initialCredit">Initial Credit:</label>
            <input type="number" min="0" value="0.0" step="0.01" class="form-control" id="initialCredit" th:field="*{initialCredit}" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
    <div th:if="${message}" class="alert alert-info" role="alert">
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>